wrapper_width = 960px

//header
header_height = 738px
header_top_height = 94px
header_top_color = #33ab5b
nav_text = 18px  'Open Sans', sans-serif
nav_text_color = #000
nav_text_color_hover = #fff
fotorama_text = bold 30px "PT Serif", serif
fotorama_text_color = #fff
fotorama_text_color_hover = #F6FB00
fotorama_btn_text = 20px  'Open Sans', sans-serif
fotorama_btn_text_color = #fff
fotorama_btn_color = rgba(51, 171, 91, 0.5)
fotorama_btn_color_hover = rgba(215, 219, 10, 0.6)

//content
news_width = 675px
news_height = 266px
news_heder_text = bold 20px "PT Serif", serif
news_text = 18px 'PT Sans', sans-serif
btn_news_width = 129px
btn_news_height = 34px
btn_news_color = #33ab5b
btn_news_border_color = #33ab5b
btn_news_text_color = #33ab5b

//sidebar
sidebar_poster_width = 250px
sidebar_poster_height = 640px
poster_header_text = bold 20px "PT Serif", serif
poster_header_color = #33ab5b
poster_text = 15px 'PT Sans', sans-serif
poster_text_color = #33ab5b
advertising_width = 250px
advertising_height = 465px
advertising_bg = #217a3f
advertising_text = bold 36px 'PT Sans', sans-serif
advertising_text_color = #fff
facebook_height = 440px
facebook_bg = #fff
facebook_text = bold 30px 'PT Sans', sans-serif

//footer
footer_bg = #195a2f
footer_height = 250px
footer_width = 960px
copyright_text = bold 12px 'PT Sans', sans-serif
copyright_text_color = #fff
footer_menu_text = 16px 'PT Sans', sans-serif
footer_menu_text_color = #fff
footer_menu_text_color_h = #F6FB00
adress_text_h = bold 16px 'PT Sans', sans-serif
adress_text = italic 14px 'PT Sans', sans-serif
adress_text_color = #fff
hr_width = 150px













